#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#wrapper > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
#left {
  flex: 1;
}

#left > img {
  width: auto;
  height: auto;
}

#right {
  flex: 1;
  background-color: #fffc00;
}

/* .profile-image {
  background-image: url("./profile.jpg") no-repeat center center;
  background: 100% 100%;
} */

.text-block div {
  margin: 50px;
  font-family: "Roboto";
  color: #131418;
}

.greeting {
  font-size: 30px;
  text-transform: uppercase;
}

.message {
  font-family: "Roboto Condensed" !important;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.call-to-action {
  color: #131418;
  font-weight: 400;
}

@media only screen and (max-width: 1400px) {
  #wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  #wrapper > #left {
    display: none;
  }
}
